</body>

<footer>
	<p class="mt-5 mb-3 text-muted text-center">&copy; Copyright 2019<script>
			new Date().getFullYear() > 2019 && document.write(" - " + new Date().getFullYear());
		</script> Jeff Jeong
	</p>
</footer>

</html>
